<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<br>
<br>
<br>
<br>


<main class="main-wrap">
   
  <section class="content-main">
      <div class="content-header">
          <div >
              <h1 class="content-header ">Dashboard </h1>
             
          </div>
        
      </div>
      <div class="row">
          <div class="col-lg-3">
              <div class="card card-body mb-4">
                  <article class="icontext">
                      <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                      <div class="text">
                          <h4 class="mb-1 card-title">Total Sales Amount</h4>
                          <h6>₹<%=orders[0].totalPriceSum%></h6>
                          <span class="text-sm">
                          </span>
                      </div>
                  </article>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="card card-body mb-4">
                  <article class="icontext">
                      <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                      <div class="text">
                          <h6 class="mb-1 card-title">Orders Completed</h6> <span><%=orders[0].count%></span>
                          <span class="text-sm">
                          </span>
                      </div>
                  </article>
              </div>
          </div>
          
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Customers</h6> <span><%=Users%></span>
                            <span class="text-sm">
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            

          <!-- <div class="col-lg-3">
              <div class="card card-body mb-4">
                  <article class="icontext">
                      <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                      <div class="text">
                          <h6 class="mb-1 card-title">Products</h6> <span><%=productsCount%></span>
                          <span class="text-sm">
                              in <%=categoryCount%> categories
                          </span>
                      </div>
                  </article>
              </div>
          </div> -->
          <div class="col-lg-3">
              <div class="card card-body mb-4">
                  <article class="icontext">
                      <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                      <div class="text">
                          <h6 class="mb-1 card-title">Online Earning</h6> <span>₹<%=onlinePay[0].totalPriceSum%></span>
                          <span class="text-sm">
                              from <%=onlinePay[0].count%> orders
                          </span>
                      </div>
                  </article>
              </div>
          </div>
      </div>
          <div class="col-lg-3">
              <div class="card card-body mb-4">
                  <article class="icontext">
                      <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                      <div class="text">
                          <h6 class="mb-1 card-title">COD Earning</h6> <span>₹<%=codPay[0].totalPriceSum%></span>
                          <span class="text-sm">
                              from <%=codPay[0].count%> orders
                          </span>
                      </div>
                  </article>
              </div>
          </div>
      </div>
          <!-- <div class="col-lg-3">
              <div class="card card-body mb-4">
                  <article class="icontext">
                      <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                      <div class="text">
                          <h6 class="mb-1 card-title">Wallet Earning</h6> <span>₹<%=walletPay[0].totalPriceSum%></span>
                          <span class="text-sm">
                              from <%=walletPay[0].count%> orders
                          </span>
                      </div>
                  </article>
              </div>
          </div>
      </div> -->

      <div class="row">
        <div class="col-xl-8 col-lg-12">
            <div class="card mb-1">
                <article class="card-body">
                    <h5 class="card-title">Sale statistics</h5>
                    <canvas id="salesChart" height="100px"></canvas>
                </article>
            </div>











            
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">Orders Based on date</h5>
                    <canvas id="salesCount" height="217"></canvas>
                </article>
            </div>
            
        </div>
    </div>
  





<script>
  // Sample data (replace this with your actual data)

// Extracting labels and data for the chart
// const labels = datas.map(item => item.categoryName);
// const prices = datas.map(item => item.PriceSum);

// Generate a random color for each slice of the pie chart
// const getRandomColor = () => '#' + Math.floor(Math.random()*16777215).toString(16);

// Creating the pie chart
// const contexts = document.getElementById('myPieChart').getContext('2d');
// const myPieChart = new Chart(contexts, {
// type: 'pie',
// data: {
// labels: labels,
// datasets: [{
// data: prices,
// // backgroundColor: datas.map(item => getRandomColor()),
// borderColor: 'white',
// borderWidth: 1
// }]
// },
// options: {
// title: {
// display: true,
// text: 'Pie Chart'
// }
// }
// });

// </script>

<script>
  const salesData = JSON.parse('<%- JSON.stringify(salesData) %>');
  console.log("salesdata");

  const dates = salesData.map(item => item._id);
  const dailySales = salesData.map(item => item.dailySales);

  const ctx = document.getElementById('salesChart').getContext('2d');
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: dates,
      datasets: [{
        label: 'Daily Sales',
        data: dailySales,
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<script>
   const salesCount = JSON.parse('<%- JSON.stringify(salesCount) %>');

const date = salesCount.map(item => item._id);
const orderCounts = salesCount.map(item => item.orderCount);

const ctxs = document.getElementById('salesCount').getContext('2d');
new Chart(ctxs, {
type: 'bar',
data: {
labels: date,
datasets: [{
label: 'Orders per Date',
data: orderCounts,
backgroundColor: 'rgba(75, 192, 100, 0.2)',
borderColor: 'rgba(75, 192, 100, 1)',
borderWidth: 1
}]
},
options: {
responsive: true,
scales: {
y: {
  beginAtZero: true
},
x: {
}
}
}
});
  
</script>
<script>




