<link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.min.css">

<!-- Add jQuery (required by Cropper.js) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add Cropper.js -->
<script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

<div class="card py-5">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Edit Product</h5>
        <form action="/admin/edit-product/<%= product._id %>" method="POST" enctype="multipart/form-data">
            <div>
                <input  class="btn btn-primary" value="SUBMIT" type="submit"></input>
            </div>
            <div class="mb-3">
                <label for="productName" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="productName" name="name" value="<%= product.name %>" required  maxlength="50">
            </div>
            <div class="mb-3">
                <label for="productDescription" class="form-label">Product Description</label>
                <textarea class="form-control" id="productDescription" name="description" required><%= product.description %></textarea>
            </div>
            <div class="mb-3">
                <label for="productPrice" class="form-label">Product Price</label>
                <input type="number" class="form-control" id="productPrice" name="price" value="<%= product.price %>" required min="0" >
                <span id="priceError" style="color: red;"></span>
            </div>
            <div class="mb-3">
                <label for="offerPrice" class="form-label">Product offer Price</label>
                <input type="number" class="form-control" id="offerprice" name="offerprice" value="<%= product.offerprice %>" required  min="0" >
                <span id="offerPriceError" style="color: red;"></span>
            </div>
            <div class="mb-3">
                <label for="offerPrice" class="form-label">stock</label>
                <input type="number" class="form-control" id="stock" name="stock" value="<%= product.stock %>" required>
            </div>
            <div class="mb-3">
                <label for="productCategory" class="form-label">Product Category</label>
                <select class="form-select" id="productCategory" name="category" required>
                    <% categories.forEach(category => { %>
                      <option value="<%= category._id %>" <%= product.category && product.category.toString() === category._id.toString() ? 'selected' : '' %>><%= category.name%></option>
                    <% }); %>
                </select>
            </div>
            <!-- <div class="mb-3">
                <label for="productImages" class="form-label">Product Images</label>
                <input type="file" class="form-control" id="productImages" name="images" multiple>
            </div> -->
            <hr class="mb-4 mt-0">
                           

            <div class="col-lg-6">
                <div class="card mb-4">
                  <div class="card-header">
                    <h4>Media</h4>
                  </div>
                  <div class="input-upload">
                    <img src="/imgs/theme/upload.svg" id="imgView1" alt="">
                    <input class="form-control" id="input1" name="images" onchange="viewImage1(event),viewImage(event, 1)" type="file">
                  </div>
                  <div class="image-cropper" style="display:none;">
                    <img src="" id="croppedImg1" alt="">
                    <button type="button" id="saveButton1" class="btn btn-primary">Save</button>
                  </div>
      
                </div> <!-- card end// -->
              </div>
              <div class="col-lg-6">
                <div class="card mb-4">
                  <div class="card-header">
                    <h4>Media</h4>
                  </div>
                  <div class="input-upload">
                    <img src="/imgs/theme/upload.svg" id="imgView2" alt="">
                    <input class="form-control" id="input2" name="images" onchange="viewImage2(event),viewImage(event, 2)" type="file">
                  </div>
                  <div class="image-cropper" style="display:none;">
                    <img src="" id="croppedImg2" alt="">
                    <button type="button" id="saveButton2" class="btn  btn-primary">Save</button>
                  </div>
      
                </div> <!-- card end// -->
              </div>
              <div class="col-lg-6">
                <div class="card mb-4">
                  <div class="card-header">
                    <h4>Media</h4>
                  </div>
                  <div class="input-upload">
                    <img src="/imgs/theme/upload.svg" id="imgView3" alt="">
                    <input class="form-control" id="input3" name="images" onchange="viewImage3(event),viewImage(event, 3)" type="file">
                  </div>
                  <div class="image-cropper" style="display:none;">
                    <img src="" id="croppedImg3" alt="">
                    <button type="button" id="saveButton3" class="btn  btn-primary">Save</button>
                  </div>
                  <br>
                  <h5>Existing Images</h5>


                </div>
                <div id="imagePreview" class="row">
                  <% product.images.forEach(image => { %>
                    <div class="col-md-3 mb-3"> <!-- Adjust the column width as needed -->
                      <div class="img-container">
                        <img class="img-preview img-fluid" src="/admin/images/<%= image %>">
                        
                      </div>
                      <label>
                        <input type="checkbox" name="removedImages" value="<%= image %>"> Remove
                      </label>
                    </div>
                    
                  <% }); %>
                </div>
                
                 
                <% product.images.forEach(image => { %>
                  <input type="hidden" name="existingImages[]" value="<%= image %>">
               <%});%>
        
           
            
            <!-- .row end// -->
        </div>
    </div>
</div>
</div>
</div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</div>
 <!-- Main Script -->
 <script src="../assets/js/main.js" type="text/javascript"></script>
 <script>
     function viewImage1(event) {
 document.getElementById('imgView1').src = URL.createObjectURL(event.target.files[0])
}

function viewImage2(event) {
 document.getElementById('imgView2').src = URL.createObjectURL(event.target.files[0])
}

function viewImage3(event) {
 document.getElementById('imgView3').src = URL.createObjectURL(event.target.files[0])
}
 </script>
 <script>
 function viewImage(event, index) {
     let input = event.target;
     let reader = new FileReader();
 
     reader.onload = function() {
       let dataURL = reader.result;
       let image = document.getElementById('imgView' + index);
       image.src = dataURL;

       
 
       // Initialize Cropper.js on the image
       let cropper = new Cropper(image, {  
         aspectRatio: 1 / 1, // Set the aspect ratio to 1:1 for square images
         viewMode: 1, // Set the view mode to crop box
         guides: true, // Show the crop guides
         background: false, // Do not show the background behind the image
         autoCropArea: 1, // Set the initial crop area to cover the whole image
         zoomable: true // Disable zooming to keep the image size fixed
       });
 
       // Show the image cropper container
       let cropperContainer = document.querySelector('#croppedImg' + index).parentNode;
       cropperContainer.style.display = 'block';
 
       // Update the cropped image when the "Save" button is clicked
       let saveButton = document.querySelector('#saveButton' + index);
       saveButton.addEventListener('click', async function() {
         let croppedCanvas = cropper.getCroppedCanvas({
           width: 500, 
           height: 500 
         });
         let croppedImage = document.getElementById("croppedImg" + index);
         croppedImage.src = croppedCanvas.toDataURL('image/jpeg', 1.0);
 
         // Generate a unique name for the cropped image file based on the current timestamp
         let timestamp = new Date().getTime();
         let fileName = `cropped-img-${timestamp}-${index}.png`;
 
         await croppedCanvas.toBlob(blob => {
           let input = document.getElementById('input' + index)
           let imgFile = new File([blob], fileName, blob)
           const fileList = new DataTransfer();
           fileList.items.add(imgFile);
           input.files = fileList.files
         });
         // cropperContainer.style.display = 'none';
       });
 
     };
 
     reader.readAsDataURL(input.files[0]);
   }
 </script>





<style>.image-row {
  display: flex;
  gap: 10px; /* Adjust the gap between images as needed */
}

.img-container {
  flex: 1;
}

.img-thumbnail {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}
</style>

<script>

function validateNonNegativeInput(inputElement) {
   console.log("Input event triggered");
    const value = parseFloat(inputElement.value);
    const errorElementId = inputElement.id + "Error";
    const errorElement = document.getElementById(errorElementId);

    if (isNaN(value) || value < 0) {
        errorElement.textContent = "Value cannot be negative.";
    } else {
        errorElement.textContent = "";
    }
}

</script>