<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
<div class="card py-5">
    <!-- views/admin/ordersList.ejs -->
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">ORDER DETAILS</h5>
        <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
                <tr>
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Product</h6>
                    </th> 
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Image</h6>
                    </th>
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Price</h6>
                    </th>
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Status</h6>
                    </th>
                   
                    
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Quantity</h6>
                    </th>
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Total</h6>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% order.items.forEach(function(item,index) { %>
                <tr>
                    <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-0"><%=item.productId.name  %></h6>
                    </td>
                    <td class="border-bottom-0">
                        <img src="../images/<%= item.productId.images[0] %>" alt="<%= item.productId.name %>" style="width: 50px; height: 50px;">
                    </td>
                    <td class="border-bottom-0">
                        <p class="mb-0 fw-normal">₹<%= item.productId.price %></p>
                    </td>
                    <td class="border-bottom-0">
                        <p class="mb-0 fw-normal"><%= order.status %></p>
                    </td>
                    
                   
                    <td class="border-bottom-1">
                        <h5>x <%= item.quantity %></h5>
                    </td>
                    
                    <td>
                        <p>₹ <%= item.total %></p>
                      </td>
                        
                          
                       
                      

                     
                    
                </tr>
                <% }); %>
                <tr>
                    <td colspan="4">
                      <h4>Total Amount</h4>
                    </td>
                    <td>
                      <p>₹ <%= order.total %></p>
                    </td>
                  </tr>
            </tbody>
        </table>
        <% if (order.status == 'Return Accepted') { %>
          <button disabled class="btn btn-danger"><%= order.status %></button>
        <% } else if(order.status=='Return-Req') { %>
         
          <button onclick="ReturnOrder('<%= order._id %>')" class="btn btn-danger">Accept Return Request</button>
        <% }%>

       
    </div>
</div>
<!-- ... Table and other content ... -->

<!-- Pagination Links -->
<script>

    function ReturnOrder(orderId) {
    Swal.fire({
      title: 'Are you sure?',
      text: 'You are going to accept the cancel request',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Yes, accept Return!',
      }).then((result) => {
      if (result.isConfirmed) {
        // Send a POST request to the server to cancel the order
        fetch(`/admin/accept-return/${orderId}`, {
          method: 'POST',
        })
          .then((response) => response.json())
          .then((data) => {
            // Handle the response data
            console.log(data);
            
            // Display a success message
            Swal.fire({
              icon: 'success',
              title: 'Return Requested Accepted',
              text: ' Amount will be refunded.',
              confirmButtonColor: '#3085d6',
              confirmButtonText: 'OK',
            }).then((result) => {
              // Redirect to the order history page
              window.location.href = '/admin/orders';
            });
          })
          .catch((error) => {
            console.error('Error:', error);
            // Handle errors if necessary
          });
      }
    });
  }</script>
  