

<%- include("./includes/header") %>
<body>

 
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Confirmation</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Confirmation</a>

					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
        <div class="container">
          <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
         
                 
            <div class="col-lg-4">
              <div class="details_item">
                <h4>Shipping Address</h4>
                <ul class="list">
                  <li><span>Name</span> : <%= selectedAddress.name %></li>
                  <li><span>Address</span> : <%= selectedAddress.address %></li>
                  <li><span>City</span> : <%= selectedAddress.city %></li>
                  <li><span>State</span> : <%= selectedAddress.state %></li>
                  <li><span>Pincode</span> : <%= selectedAddress.pincode %></li>
                </ul>
            
              </div>
            </div>
          </div>
          <div class="order_details_table">
          
            <div class="text-center mt-5">
              <a href="/orderHistory" class="btn btn-primary btn-lg mr-3">Order History</a>
              <a href="/product" class="btn btn-secondary btn-lg">Continue Shopping</a>
            </div>
          </div>
      </section>
       
	<!--================End Order Details Area =================-->


<%- include("./includes/footer") %>
