<%- include("./includes/header") %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
 
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    
     <body>
		<script>
					const queryParams = new URLSearchParams(window.location.search);
					const successParam = queryParams.get('success');

	if (successParam === 'true') {
  // Import the Toastify library if you haven't already
  // This code assumes the Toastify library is loaded before this script

  // Show a Toastify success notification
  Toastify({
    text: "Logout successful!",
    duration: 5000, // Display the toast for 5 seconds
    gravity: "top", // Position the toast at the top
    position: "right", // Position the toast on the right side
    backgroundColor: "green", // Customize the toast background color
  }).showToast();
}
	</script>
		<script>
			// Hide the success message after 5 seconds (5000 milliseconds)
			setTimeout(() => {
				const successMessage = document.getElementById('successMessage');
				if (successMessage) {
					successMessage.style.display = 'none';
				}
			}, 5000);
		</script>
				<!-- <div style="padding-top:10% ;" class="container-fluid banner-img" >
					<img  class="img-fluid" src="../admin/images/pott.webp" alt="" style=" padding-top:2%; margin: 0;">
				</div> -->
				
			<!-- Include necessary styles/scripts for toastify-js here -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const successMessage = getCookie('successMessage');

        if (successMessage === 'true') {
            Toastify({
                text: "Successfully signed in!",
                duration: 3000, // Duration in milliseconds
                newWindow: true,
                close: true,
                gravity: "top", // Position: top, bottom, left, right
                position: "right", // Position: top, bottom, left, right
                backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                stopOnFocus: true, // Prevents dismissing toast on focus
            }).showToast();

            // Clear the success message cookie
            document.cookie = "successMessage=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }
    });

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>

<!-- Rest of your HTML content for the home page -->

     
    


<!-- End banner Area -->
<!-- start banner Area -->
	
<section class="">
	<div class="container-fluid">
	  <div id="bannerSlider" class="carousel slide row fullscreen align-items-center justify-content-start" data-ride="carousel">
		<div class="carousel-inner">
		  <% banner.forEach((banner, index) => { %>
		  <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
			<div class="row align-items-center d-flex">
			  <div class="col-lg-12">
				<div class="banner-img">
				  <a href="<%=banner.link %>"><img class="img-fluid" src="../admin/banner/<%= banner.image %>" alt=""  style="width: 100%; height: 100vh;" alt=""></a>
				</div>
			  </div>
			</div>
		  </div>
		  <% }) %>
		</div>
		<a class="carousel-control-prev" href="#bannerSlider" role="button" data-slide="prev" style="align-items:end; margin-bottom: 10px;" >
			<img src="../assets/img/banner/prev.png" style="margin-bottom: 75px;">
			<span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#bannerSlider" role="button" data-slide="next" style="align-items:end;margin-bottom: 10px;">
			<img src="../assets/img/banner/Next.png" style="margin-bottom: 75px;">
			<span class="sr-only">Next</span>
		  </a>
	  </div>
	</div>
  </section>
<!-- End banner Area -->
	<!-- End banner Area -->

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="../assets/img/features/f-icon1.png" alt="">
						</div>
						<h6>Free Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="../assets/img/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="../assets/img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="../assets/img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->

	<!-- Start category Area -->
	<!-- <section class="category-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<div class="row">
						<div class="col-lg-7 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="../admin/images/frony sofa1.avif"  alt="">
								<a href="" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">lights</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-3 col-md-0">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="../admin/images/merida-velvet-2-seater-sofa-in-powder-blue-colour-merida-velvet-2-seater-sofa-in-powder-blue-colour-p7tcbx.avif" alt="">
								<a href="../assets/img/category/c2.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">sofa</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-3 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="../assets/img-fluid w-100" src="../admin/images/orange-fabric-table-lamp-shade-by-foziq-orange-fabric-table-lamp-shade-by-foziq-jgzy8s.jpg" alt="">
								<a href="../assets/img/category/c3.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">vases</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-80" src="../admin/images/light.avif" alt="">
								<a href="../assets/img/category/c4.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">sofa</h6>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-deal">
						<div class="overlay"></div>
						<img class="img-fluid w-80" src="../admin/images/bed.avif" alt="">
						<a href="../assets/img/category/c5.jpg" class="img-pop-up" target="_blank">
							<div class="deal-details">
								<h6 class="deal-title">sofa</h6>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>



	</section> -->
	<!-- End category Area -->
	<!-- <section class="category-area">
        <div class="container xyx">
            <div class="single-deal">
				<div class="overlay"></div>
                <img class="img-fluid" src="../admin/images/recliner.avif" alt="Image 1">
				<a href="../assets/img/category/c5.jpg" class="img-pop-up" target="_blank">
					
						<h6 class="deal-title">sofas and Seatings</h6>
            </div>
            <div class="single-deal">
				<div class="overlay"></div>
                <img class="img-fluid" src="../admin/images/light front.avif" alt="Image 1">
				<a href="../assets/img/category/c5.jpg" class="img-pop-up" target="_blank">
					
						<h6 class="deal-title">Lightings</h6>
            </div>
            <div class="single-deal">
				<div class="overlay"></div>
                <img class="img-fluid" src="../admin/images/horse front.webp" alt="Image 1">
				<a href="../assets/img/category/c5.jpg" class="img-pop-up" target="_blank">
					
						<h6 class="deal-title">Show Pieces</h6>
            </div>

        </div>
		<style>
			.xyx {
				display: flex;
				flex-wrap: wrap;
				justify-content:space-between;
			}
	
			.single-deal {
				flex: 0 0 30%; /* Set each item to occupy 30% of the container width */
				max-width: 30%; /* Ensure images don't exceed 30% width */
				margin: 10px;
			}
	
			.single-deal img {
				width: 100%;
				height: auto; /* Maintain aspect ratio */
				display: block;
			}
		</style>
    </section> -->

	<!--  -->
	
	<!-- end product Area -->

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h1>Latest Products</h1>
					<p>Explore The Brand NEw Products</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- single product -->
			<section class="lattest-product-area pb-40 category-list">
				<div class="row">
					<% product.forEach(product => { %>
					<div class="col-lg-4 col-md-6">
						<div class="single-product">
						  <a href="/productDetail/<%= product._id%>"> <img class="img-fluid" src="../admin/images/<%= product.images[0] %>" alt="<%= product.name %>"></a>  
							<div class="product-details">
								<h6><%= product.name %></h6>
								<div class="price">
									<h6>₹<%= product.price %></h6>
									<% if (product.oldPrice) { %>
									<h6 class="l-through">₹<%= product.oldPrice %></h6>
									<% } %>
								</div>
								<div class="prd-bottom">
									<!-- <a href="" class="social-info  "  onclick="addtocart('<%=product._id%>')">
										<span class="ti-bag" style="background-color:black"></span>
										<p class="hover-text">add to bag</p>
									</a> -->
									<!-- <a href="" class="social-info">
										<span class="lnr lnr-heart"style="background-color:red" ></span>
										<p class="hover-text">Wishlist</p>
									</a> -->
									<!-- <a href="" class="social-info">
										<span class="lnr lnr-sync"  style="background-color:black"></span>
										<p class="hover-text">compare</p>
									</a> -->
									<a href="/productDetail/<%= product._id%>" class="social-info">
										<span class="lnr lnr-move"  style="background-color:black"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<% }); %>
				</div>
			</section>
		
	

	<!-- Start related-product Area -->

	</body>

	<%-include('./includes/footer') %>

	<script>
		function addtocart(proId) {
		  $.ajax({
			url: '/add-to-cart/' + proId,
			method: 'POST',
	  
			success: (response) => {
				console.log(response);
			  if (response.status==true) {
				Swal.fire({
				  title: 'Added To Cart',
				  text: 'Your Product has been added to Cart',
				  icon: 'success',
				  timer: 5000
				})
				
			  }
			}
		  })
		}
	</script>

<script>
	const query = new URLSearchParams(window.location.search);
	const success = queryParams.get('registered');

if (success === 'true') {
// Import the Toastify library if you haven't already
// This code assumes the Toastify library is loaded before this script

// Show a Toastify success notification
Toastify({
text: "Registration Sucessfull Please Login Now!",
                duration: 3000, // Duration in milliseconds
                newWindow: true,
                close: true,
                gravity: "top", // Position: top, bottom, left, right
                position: "right", // Position: top, bottom, left, right
                backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                stopOnFocus: true
}).showToast();
}
</script>