
<%- include('./includes/header') %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="" id="orders" role="tabpanel" aria-labelledby="orders-tab">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0 text-align-center">Your Orders</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" style="width: 90%; margin-left: 10%;">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Date</th>
                          
                            <th>Status</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <% if (orders) { %>
                        <tbody>
                            <% orders.forEach(function (order, index) { %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td><%= new Date(order.createdAt).toLocaleDateString() %></td>
                                   
                                    <td>
                                        <% if (order.status === 'Pending') { %>
                                            <span class="order-status text-primary">Pending</span>
                                        <% } else if (order.status === 'Processing') { %>
                                            <span class="order-status text-warning">Processing</span>
                                        <% } else if (order.status === 'Shipped') { %>
                                            <span class="order-status text-success">Shipped</span>
                                        <% } else if (order.status === 'Delivered') { %>
                                            <span class="order-status text-info">Delivered</span>
                                        <% }  else if (order.status === 'CANCELLED') { %>
                                            <span class="order-status text-info">Cancelled</span>
                                        <% }%>
                                    </td>
                                    
                                    <td>₹<%= order.total %></td>
                                    <td>
                                        <a href="/orderDetails/<%= order._id %>" class="btn btn-primary">View</a>
                                        <!-- Add more actions here if needed -->
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    <% } else { %>
                        <tr>
                            <td colspan="5"><h1>No Orders Placed</h1></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- start footer Area -->

<%- include('./includes/footer') %>
