

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

  <!DOCTYPE html>
  <html lang="zxx" class="no-js">
  
  <head>
	  <!-- Mobile Specific Meta -->
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <!-- Favicon-->
	  <link rel="shortcut icon" href="">
	  <!-- Author Meta -->
	  <meta name="author" content="CodePixar">
	  <!-- Meta Description -->
	  <meta name="description" content="">
	  <!-- Meta Keyword -->
	  <meta name="keywords" content="">
	  <!-- meta character set -->
	  <meta charset="UTF-8">
	  <!-- Site Title -->
	  <title>Home Haven</title>
	  <!--
		  CSS
		  ============================================= -->
	  <link rel="stylesheet" href="../assets/css/linearicons.css">
	  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
	  <link rel="stylesheet" href="../assets/css/themify-icons.css">
	  <link rel="stylesheet" href="../assets/css/bootstrap.css">
	  <link rel="stylesheet" href="../assets/css/owl.carousel.css">
	  <link rel="stylesheet" href="../assets/css/nice-select.css">
	  <link rel="stylesheet" href="../assets/css/nouislider.min.css">
	  <link rel="stylesheet" href="../assets/css/ion.rangeSlider.css" />
	  <link rel="stylesheet" href="../assets/css/ion.rangeSlider.skinFlat.css" />
	  <link rel="stylesheet" href="../assets/css/magnific-popup.css">
	  <link rel="stylesheet" href="../assets/css/main.css">
  </head>
  
  <body>
  
	  <!-- Start Header Area -->
	  <header class="header_area sticky-header">
		  <div class="main_menu">
			  <nav class="navbar navbar-expand-lg navbar-light main_box">
				  <div class="container">
					  <!-- Brand and toggle get grouped for better mobile display -->
					  <a class="navbar-brand logo_h" href="/"><img src="/admin/images/1690050860743.png" width="100"></a>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
					  </button>
					  <!-- Collect the nav links, forms, and other content for toggling -->
				  
							  <% if (isAuthenticated) { %>
								  <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
									  <ul class="nav navbar-nav menu_nav ml-auto">
										  <li class="nav-item "><a class="nav-link" href="/">Home</a></li>
										  <li class="nav-item submenu dropdown">
											  <a href="/product" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
											   aria-expanded="false">Shop</a>
											  <ul class="dropdown-menu">
												  <!-- <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li> -->
												  <li class="nav-item"><a class="nav-link" href="/product">Product</a></li>
												  <!-- <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li> -->
												  <li class="nav-item"><a class="nav-link" href="/loadCart">Shopping Cart</a></li>
												  <!-- <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li> -->
											  </ul>
										  </li>
										  <!-- <li class="nav-item submenu dropdown">
											  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
											   aria-expanded="false">Blog</a>
											  <ul class="dropdown-menu">
												  <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
												  <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
											  </ul>
										  </li> -->
							  <li class="nav-item submenu dropdown">
								  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								   aria-expanded="false">Account</a>
								  <ul class="dropdown-menu">
									  <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
									  <li class="nav-item"><a class="nav-link" href="/profile">profile</a></li>
  
  
								  </ul>
  
							  </li>
							  
							  <% } else{%>
								  <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
									  <ul class="nav navbar-nav menu_nav ml-auto">
										  <li class="nav-item "><a class="nav-link" href="/">Home</a></li>
										  <li class="nav-item submenu dropdown">
											  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
											   aria-expanded="false">Shop</a>
											  <ul class="dropdown-menu">
												  <!-- <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li> -->
												  <li class="nav-item"><a class="nav-link" href="/product">Product Details</a></li>
												  <!-- <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li> -->
												  <!-- <li class="nav-item"><a class="nav-link" href="/loadCart">Shopping Cart</a></li> -->
												  <!-- <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li> -->
											  </ul>
										  </li>
										  <!-- <li class="nav-item submenu dropdown">
											  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
											   aria-expanded="false">Blog</a>
											  <ul class="dropdown-menu">
												  <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
												  <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
											  </ul>
										  </li> -->
  
							  <li class="nav-item submenu dropdown">
								  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								   aria-expanded="false">Account</a>
								  <ul class="dropdown-menu">
									  <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
									  <!-- <li class="nav-item"><a class="nav-link" href="logout">Tracking</a></li> -->
									  <!-- <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li> -->
								  </ul>
							  </li>
							  <% } %>   
  
							  <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
						  </ul>
						  <% if (isAuthenticated) { %>
						  <ul class="nav navbar-nav navbar-right">
							  <li class="nav-item"><a href="/loadCart" class="cart"><span class="ti-bag"></span></a></li>
							  <li class="nav-item">
								  <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							  </li>
							  
						  </ul>
						  <% } else{%> 
							  <ul class="nav navbar-nav navbar-right">
								  <li class="nav-item"><a href="/login" class="cart"><span class="ti-bag"></span></a></li>
								  <li class="nav-item">
									  <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
								  </li>
							  </ul>
							  <% } %>  
					  </div>
				  </div>
			  </nav>
		  </div>
		  <div class="search_input" id="search_input_box">
			  <div class="container">
				  <form class="d-flex justify-content-between" action="/product">
					  <input type="text" class="form-control" id="search_input" placeholder="Search Here" name="search">
					  <button type="submit" class="btn"></button>
					  <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				  </form>
			  </div>
		  </div>
	  </header>
	  <!-- End Header Area -->
  

	<!-- Start Banner Area -->

		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end" style="padding: 5%;">
				<div class="col-first">
					<h1>Shop Category page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Fashon Category</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head" style="background-color: black;" >Browse Categories</div>
					<ul class="main-categories">
						

					
						<li class="main-nav-list"><a class="border-bottom-0" data-toggle="collapse" href="#babyCare" aria-expanded="false"
							 aria-controls="babyCare"><span class="lnr lnr-arrow-right"></span>SOFAS<span class="number">(48)</span></a>
						
						</li>
						<li class="main-nav-list"><a class="border-bottom-0" data-toggle="collapse" href="#babyCare" aria-expanded="false"
							 aria-controls="babyCare"><span class="lnr lnr-arrow-right"></span>SHOW PIECES<span class="number">(48)</span></a>
						
						</li>
						<li class="main-nav-list"><a class="border-bottom-0" data-toggle="collapse" href="#babyCare" aria-expanded="false"
							 aria-controls="babyCare"><span class="lnr lnr-arrow-right"></span><span class="number">(48)</span></a>
						
						</li>
						<li class="main-nav-list"><a class="border-bottom-0" data-toggle="collapse" href="#babyCare" aria-expanded="false"
							 aria-controls="babyCare"><span class="lnr lnr-arrow-right"></span>Sofas and Seatings<span class="number">(48)</span></a>
						
						</li>
					</ul>
				</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head"  style="background-color:black">Product Filters</div>
					<div class="common-filter">
						<div class="head">Brands</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">Apple<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Asus<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Gionee<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">Micromax<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Samsung<span>(19)</span></label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">Color</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black
										Leather<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black
										with red<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">Price</div>
						<div class="price-range-area">
							<div id="price-range"></div>
							<div class="value-wrapper d-flex">
								<div class="price">Price:</div>
								<span>$</span>
								<div id="lower-value"></div>
								<div class="to">to</div>
								<span>$</span>
								<div id="upper-value"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center" style="background-color: black;">
					<div class="sorting">
						<select>
							<option value="1">Default sorting</option>
							<option value="1">Default sorting</option>
							<option value="1">Default sorting</option>
						</select>
					</div>
					<div class="sorting mr-auto">
						<select>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
						</select>
					</div>
					
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
						<section class="lattest-product-area pb-40 category-list">
                            <div class="row">
                                <% productData.forEach(product => { %>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-product">
                                      <a href="/productDetail/<%= product._id%>"> <img class="img-fluid" src="../admin/images/<%= product.images[0] %>" alt="<%= product.name %>"></a>  
                                        <div class="product-details">
                                            <h6><%= product.name %></h6>
                                            <div class="price">
                                                <h6>₹<%= product.price %></h6>
                                                <% if (product.oldPrice) { %>
                                                <h6 class="l-through">₹<%= product.oldPrice %></h6>
                                                <% } %>
                                            </div>
                                            <div class="prd-bottom">
                                                <a href="" class="social-info  "  onclick="addtocart('<%=product._id%>')">
                                                    <span class="ti-bag" style="background-color:black"></span>
                                                    <p class="hover-text">add to bag</p>
                                                </a>
                                                <a href="" class="social-info">
                                                    <span class="lnr lnr-heart"style="background-color:red" ></span>
                                                    <p class="hover-text">Wishlist</p>
                                                </a>
                                                <a href="" class="social-info">
                                                    <span class="lnr lnr-sync"  style="background-color:black"></span>
                                                    <p class="hover-text">compare</p>
                                                </a>
                                                <a href="/productDetail/<%= product._id%>" class="social-info">
                                                    <span class="lnr lnr-move"  style="background-color:black"></span>
                                                    <p class="hover-text">view more</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        </section>
					
						  
						  
						  
						<style>/* Adjust button size and spacing */
						/* Adjust button size and spacing */

							</style>
						  
						  
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<!-- <div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto">
						<select>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
						</select>
					</div> -->
					<div class="pagination">
						<% if (currentPage > 1) { %>
						  <a href="?page=1" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						  <a href="?page=<%= currentPage - 1 %>" class="prev"></i></a>
						<% } %>
					  
						<div class="pagination-inner">
						  <% for (let i = 1; i <= totalPages; i++) { %>
							<% if (i === currentPage) { %>
							  <span class="current-page"><%= i %></span>
							<% } else if (i <= 3 || i >= totalPages - 2) { %>
							  <a href="?page=<%= i %>"><%= i %></a>
							<% } else { %>
							  <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
							<% } %>
						  <% } %>
						</div>
					  
						<% if (currentPage < totalPages) { %>
						  <a href="?page=<%= currentPage + 1 %>" class="next"></i></a>
						  <a href="?page=<%= totalPages %>" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						<% } %>
					  </div>
						  
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>


</body>
    
</html>
<%- include('./includes/footer') %>

<script>
	function addtocart(proId) {
	  $.ajax({
		url: '/add-to-cart/' + proId,
		method: 'POST',
  
		success: (response) => {
			console.log(response);
		  if (response.status==true || response==false) {
			Swal.fire({
			  title: 'Added To Cart',
			  text: 'Your Product has been added to Cart',
			  icon: 'success',
			  timer: 5000
			})
			
		  }
		}
	  })
	}
</script>


  <script>
  document.querySelector('form').addEventListener('submit', (event) => {
    const searchQuery = document.getElementById('search_input').value;
    const encodedSearchQuery = encodeURIComponent(searchQuery);
    const url = `/product?search=${encodedSearchQuery}`;
    window.location.href = url;
    event.preventDefault();
  });
</script>