<%- include('./includes/header') %>
<br>
<br>
<body class="py-5">
    <div class="container mt-5">
        <div class="card text-center">
            <div class="card-header">
                <h1 class="h4">Your Wallet Balance</h1>
            </div>
            <div class="card-body">
                <p id="wallet-amount" class="h3">₹<%=user.wallet%></p>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h2 class="h5">Transaction History</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% user.walletTransaction.forEach(transaction => { %>
                            <tr>
                                <td><%= transaction.type %></td>
                                <td>₹<%= transaction.amount %></td>
                                <td><%= transaction.date.toLocaleString() %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="script.js"></script>

<%- include('./includes/footer') %>