<%- include('./includes/header') %>
<section style="background-color: #ffffff;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="../admin/assets/images/profile/user-1.jpg" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><h3> <%= user.name %></h3></h1> %></h5>
              <p class="text-muted mb-1"></p>
              <p class="text-muted mb-4"></p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">Follow</button>
                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                
                 
                  <a class="btn btn-primary" style="margin-left: 25%;" href="/loadAddress">ADD ADDRESS</a>
          
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                
                 
                  
                  <a class="btn btn-primary" style="margin-left: 25%;" href="/orderHistory">Order History</a>
                </li>
                <!-- <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <p class="mb-0">@mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li> -->
                <!-- <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"> <%= user.name %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"> <%= user.email %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">+91<%= user.mobile %></p>
                </div>
              </div>
              <hr>
              <!-- <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(098) 765-4321</p>
                </div>
              </div> -->
         
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                 <!-- Display existing addresses -->
<%   if (user.address.length>0) { %>
  <% user.address.forEach((address, index) => { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Address <%= index + 1 %></h5>
        <p>Name: <%= address.name %></p>
        <p>Mobile: <%= address.mobile %></p>
        <p>Landmark: <%= address.landmark || 'N/A' %></p>
        <p>City: <%= address.city %></p>
        <p>State: <%= address.state %></p>
        <p>Pincode: <%= address.pincode %></p>
        <p>District: <%= address.district %></p>
        <p>Address: <%= address.address %></p>
        <!-- Add an "Edit Address" button -->
        
      
        </form>
      </div>
      
    </div>
  <% }) %>
<% } else { %>
  <p>No addresses added yet.</p>
<% } %>
                </div>
              </div>
            </div>
          </div>
         <!-- Add an "Edit Profile" button -->
    
    
  </div>
<!-- Edit Profile Form -->

  </section>



  
  <%- include('./includes/footer') %>
  




